<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <span>product_name: <%= @product.product_name %></span>
    <span>manufacturer: <%= @product.manufacturer %></span>
    <span>flavor: <%= @product.flavor %></span>
    <span>type_strain: <%= @product.type_strain %></span>
    <span>thc: <%= @product.thc %></span>
    <img src="<%=@product.file_name_2 %>"></img>
    <span>creatorId: <%= @product.creatorId %></span>
    <span>creator: <%= @product.creator %></span>
    <span>extract_type: <%= @product.extract_type %></span>
  </body>
</html>